body {
  background: $yellowish-white;
  color: $yellowish-black;
  text-shadow: 1px 1px 1px #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 100%
}

.post-text {
  &, &:visited {
    color: $gray-indigo;
    text-decoration: none;
    font-size: 1em;
  }
  &:hover, &:focus {
    color: $gray-indigo;
    border-bottom: 1px solid $gray-indigo;
    font-size: 1em;
  }
}

.landing-link {
  &, &:visited {
    color: $gray-indigo;
    text-decoration: none;
    font-size: 1.05em;
  }
 &:hover, &:focus {
    color: $gray-indigo;
    border-bottom: 1px solid $gray-indigo;
    font-size: 1.05em;
  }
}

a, b {
  font-weight: 400;
  font-size: 1.05em; 
}

a {
  &, &:visited {
    color: $turquoise;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
  }

  &:hover, &:focus {
    color: $dark-turquoise;
    border-color: $dark-gray;
  }
}

.at {
  color: $light-turquoise;
}

.the-pug {
  // Shrink for retina.
  width: 320px;
  height: 242px;
}

@media screen and (min-width: 800px) {
  .site-header {
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid #e1e4e8;
    margin: 0 0 48px;
    position: relative;

  }

  .site-header nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 530px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .header-links {
    &, &:visited {
      color: $turquoise;
      text-decoration: none;
      margin: 15px;
      display: block;
      border-bottom: 0px;
    }

    &:hover, &:focus {
      color: $dark-turquoise;
      border-color: $dark-gray;
    }
  }
}

@media screen and (max-width: 800px) {
  .header-links {
    &, &:visited {
      color: #000000;
      text-decoration: none;
      margin: 0px;
      display: block;
      border-bottom: 2px;
    }

    &:hover, &:focus {
      color: #000000;
      border-color: $dark-gray;
    }
  }
}

@media screen and (max-width: 800px) {
  .site-header {
    display: none;
  }

  .site-header nav ul {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .mobile-header {
    display: none;
  }
}
