.highlight {
    > pre {
        padding: 1%;


        margin: 10;
        font-size: 12px;
        line-height: 17px;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        word-wrap: normal;
    }
    td.gutter {
        min-width: 40px;
        pre {
            color: #aaa;
            border-right: 1px solid #eee;
            border-radius: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}
