<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
          <title>{{ page.title }}</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="shortcut icon" href="/public/images/top_icon.png">
          <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet" type="text/css">
          <link href="/assets/css/post.css" rel="stylesheet">
          <link href="/assets/css/syntax.css" rel="stylesheet">

    </head>
    <body>
        <div class="outer-container">
        <nav>  
          <ul class="elsewhere">
            <li class="elsewhere__item"><a href="/">Home</a></li>
            <li class="elsewhere__item"><a href="/blog">Deep Learning</a></li>
            <li class="elsewhere__item"><a href="http://github.com/neale">GitHub</a></li>
            <li class="elsewhere__item"><a href="https://www.linkedin.com/in/neale-ratzlaff-46879973/">LinkedIn</a></li>
            <li class="elsewhere__item"><a href="http://neale.github.io/projects">Projects</a></li>

          </ul>
        </nav>
 
            <div class="inner-container">
 
            {{ content }}

        </div><!-- /.inner-container -->
      </div>  <!-- /.outer-container -->
        </footer>

              </body>

</html>
